$light-gray: #f5f6f6;
$dark-green: #003d29;
$light-orange: #ffedd5;
$animation-timing: 200ms ease-in-out;

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.card {
  transform: translateY(20%);
  transition: transform 0.5s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.add-wishlist-button {
  position: absolute;
  top: 25px;
  right: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100px;
}

.card.show {
  transform: translateY(0);
}

.card-image-box {
  display: flex;
  justify-content: center;
  background-color: $light-gray;
  margin-top: 15px;
  font-size: 30px;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 15px;
  height: 300px;
  width: 100%;
}

.card-image-box img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  object-fit: contain;

  &:hover {
    transform: scale(1.1);
  }
}

.product-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  flex: 1;
}

.product-title {
  font-size: 1rem;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}

.product-star {
  width: 14px;
  margin-right: 2px;
}

.product-rating {
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.add-to-cart-button {
  border: 1.5px solid $dark-green;
  padding: 10px 25px;
  border-radius: 25px;
  background-color: transparent;
  font-weight: bold;
  width: 180px;
  transition: background-color 0.5s ease-in;

  &:hover {
    background-color: $dark-green;
    color: white;
  }
}

.product-card-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
